<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Car Add</h1>
    <form action="/cars" method="POST">
        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand">
        <label for="type">Type</label>
        <input type="text" id="type" name="type">
        <label for="color">Color</label>
        <input type="text" id="color" name="color">
        <label for="hybrid"> Hybrid </label>
        <input type="checkbox" id="hybrid" name="hybrid">

        <button>Create New Car</button>

    </form>
</body>
</html>

